<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <title>MeetupTitle</title>
  </head>
  <body>
    <div id="app">
      <div>
        <label v-for="(item, index) in 5"><input
          :id="index"
          v-model="result"
          type="radio"
          name="meetupId"
          :value="index+1"/>{{ item }}</label>

<!--
        <label><input v-model="result" type="radio" name="meetupId" value="1" /> 1</label>
        <label><input v-model="result" type="radio" name="meetupId" value="2" /> 2</label>
        <label><input v-model="result" type="radio" name="meetupId" value="3" /> 3</label>
        <label><input v-model="result" type="radio" name="meetupId" value="4" /> 4</label>
        <label><input v-model="result" type="radio" name="meetupId" value="5" /> 5</label>-->

        <hr />

        <h3>{{ meetup }}</h3>
      </div>
    </div>

    <script type="module" src="./script.js"></script>
  </body>
</html>
